@font-face {
    font-family: DejaVuSansMono;
    src: url("../font/DejaVuSansMono.ttf");
}

body {
    background: black;
}
* {
    font-family: DejaVuSansMono;
}
h1 {
    color: white;
    font-size: 11px;
}
.master {
    width: 1000px;
    margin: 20px auto;
}
.post-title {
    color: white;
    font-size: 14px;
}
.post-body {
    color: white;
    font-size: 11px;
}
.post-footer {
    color: gray;
    font-size: 11px;
}
a {
    color: #00AA00;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
li {
    color: white;
    font-size: 11px;
}
ul {
    color: white;
}
h3 {
    font-size: 15px;
}

